.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    
}
.nav-link:hover{
    background-color: #02b1d86b;
    color: tomato;
    border-radius: 10px;
}